.logo{
    width: 30%;
}
.navbar{
background-color:#f2f1f6;
height: 65px;
}
.nav-item{
    margin: 30px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.img1{
    width: 100%;
}
h2{
   margin-top: -25pc;
   margin-left: 35pc;
   font-size: 40px;
   font-weight: 900;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color:  rgb(28 214 250);
}
h1{
    
    margin-left: 35pc;
    font-size: 40px;
    color:  rgb(20, 22, 22);
   font-weight: 500;
 }
 .p1{
    margin-left: 35pc;
    font-size: 22px;
    color:  rgb(20, 22, 22);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .apbtn{
    margin-left: 38pc;
    font-size: 22px;
    width: 15pc;
    height: 50px;
    border-radius: 40px;
    margin-top: 25px;
    background-color:  rgb(28 214 250);;
 }
 .aboutus{
    margin-top: 7pc;
   margin-left: 25pc;
   font-size: 50px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
.aboutp{
    width: 41pc;
    margin-left: 20pc;
    font-size: 25px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cbox{
    float: left;
    width: 100%;
    background-color: white;
    height: 300px;
    margin-top: 11pc;
}
.c1{
    float: left;
    width: 26%;
    margin-left: 40px;
    background-color: #f2f1f6;
    height:250px;
    border-radius: 20px;
    
  
}
.c2{
    float: left;
    width: 25%;
    margin-left: 40px;
    background-color: #f2f1f6;
    height: 250px;
    border-radius: 20px;
}
span{
   font-size: 30px;
    font-weight: 900;
}
.cardbox{ 
    width: 100%;
    background-image: url('img/7d99f73f-https-app-unbouncepreview-com-publish-assets-870fc706-cb74-11eb-bbbe-024277fdaef8-320egt-popupbg-100000000000000000001o_100000000000000000001o.jpg');
    background-size: cover;
    height: 750px;
    margin-top: 30pc;
    background-attachment: fixed;
  position: relative;
}
.cardh1{
    color: white;
   margin-left: 20px;
   font-size: 50px;
   font-weight: 600;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: bold; 
   margin-top: -40px;
}
.cardsp{
    color: rgb(28 214 250);
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bold;
}
.cardbg{
width: 100%;

}

.about{
    width: 100%;
    height: auto;
}
.card1{
    float: left;
    margin-left: 70px;
    color: white;
    margin-top: 50px;
}
.card2{
    float: left; 
    margin: 15px;
    color: white;
    margin-top: 50px;
}
.card3{
    float: left;
    color: white;
    margin: 15px;
    margin-top: 50px;
}
.bg-overlay{
    background-color: #00000092;
    top:0;
    left: 0;
    height: 100%;
}
.btn{
    border-radius: 20px;
    width: 150px;

}
.Worldbox{
    width: 100%;
    margin-top: 10pc;
}
.Worldimg{
    float: left;
    width: 40%;
}
.World{
    float: left;
    width: 40%;
    font-size: 45px;
    margin-left: 14%;
    font-weight: 700;
}
.wp1{
    font-size: 14px;
    font-weight: 800;
    margin-top: 30px;
   
}
.sWorld{
    color:  rgb(28 214 250);
    font-size: 45px;
    font-weight: 900;
}
.getbtn{
    background-color: rgb(28 214 250);
    width: 200px;
    border-radius: 20px;
    font-size: 25px;
}